body {
  background-image: none;
  background-color: #e8ccac;
}
main {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  color: #000;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
header {
  position: fixed;
  height: 100%;
  font-size: 24px;
  border-right: 1px solid #8c969b;
  .navbar {
    margin-top: 80px;
    float: right;
    nav {
      display: flex;
      flex-direction: column;
      a {
        width: 250px;
        margin: 10px 0;
        text-decoration: none;
        color: #000;
        cursor: pointer;
        &:visited {
          color: #000;
        }
      }
    }
  }
}

.logout {
  box-sizing: border-box;
  position: absolute;
  bottom: 3%;
  padding: 10px 20px;
  height: 40px;
  margin-left: 5px;
  border-radius: 200px;
  cursor: pointer;
  &:hover {
    background-color: #e8ccac;
    filter: brightness(0.8);
  }
  &:active {
    background-color: #e8ccac;
    filter: brightness(0.7);
  }
  span {
    margin-left: 5px;
  }
}
svg {
  display: inline-block;
  width: 40px;
  height: 30px;
}
@media (max-width: 1280px) {
  main {
    width: 100%;
  }
  header {
    width: 12%;
  }
}
@media (max-width: 1020px) {
  header {
    width: 15%;
  }
}
@media (max-width: 500px) {
  header {
    display: none;
  }
}
